:root {
  --accent-color: #2196f3;
}

.active-page {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.nav-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  /* color:#212121;*/
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #2196f3;
}

.contact-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  /* color:#757575;*/
}

.contact-number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  /* color:#757575;*/
}

.contact-adress:hover,
.contact-adress:focus {
  color: #2196f3;
}

.contact-number:hover,
.contact-number:focus {
  color: #2196f3;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  /* color:#FFFFFF;*/
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  /* color:#FFFFFF;*/
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #ffffff;
  color: #2196f3;
}
.subtitle-list {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 3%;
  /* color:#212121;*/
}
.description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  /* color:#757575;*/
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  /* color:#212121;*/
}
.main-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  /* color:#212121;*/
}
.profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  /* color:#757575;*/
}
